[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
jinja2 = "*"
markdown = "*"
mkdocs-macros-plugin = "*"

[requires]
python_version = "3.12"

[dev-packages]
